<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        {{#if user}}
            {{> navbar }}
            {{{body}}}
        {{else}}
            {{{body}}}
        {{/if}}
     

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>